/*
	 We are clearing the body's margin and padding, so that the header fits properly.
	 We are also adding a height to demonstrate the scrolling behavior. You can remove
	 these styles.
 */



@media all and (max-width: 600px) {

	body.fixed .header-fixed {
		display: none;
	}

}

body {
	margin: 0;
	padding: 0;
}

.text-center {
    text-align: center;
}

.reduce-padding-left {
    padding-left: 0 !important;
}

.reduce-padding-right {
    padding-right: 0 !important;
}

.portfolio-img {
    margin-top: 30px;
}


.main-section {

	background: url('../3.jpg') no-repeat;
    height: 518px;
    background-size: cover;
    position: relative;
    background-size: 100%;
    background-position-x: 100%;
    padding: 30px;
}

.welcome-container {
	font-family: "Questrial", sans-serif;
	margin-top: 40px;
	margin-left: 80px;
}

.learn-more {
	cursor: pointer;
	width: 175px;
    height: 50px;
    background-color: #000;
    display: block;
    font-family: "Questrial", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: center;
    padding-top: 14px;
    margin-top: 50px;
}

.learn-more:hover {
	cursor: pointer;
	background-color: #555;
	color: #fff;
	text-decoration: none;
}

.head-title {
	font-size: 40px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 8px;
    letter-spacing: 0.7px;
}

.description {
	font-size: 14px;
    color: #000;
    line-height: 10px;
}

.work-section h2{
	font-size: 30px;
    text-transform: uppercase;
    color: #7f7f7f;
    text-align: center;
    letter-spacing: 5px;
    padding: 50px 0; 
}

.service-section {
	padding: 100px;
	text-align: center;
}

.work-section {
	padding: 0 100px; 
    margin: 0 auto 100px;
}

.about .main-section{
	background : gainsboro;
	/*background: url('../3.jpg') no-repeat;*/
    height: 250px;
    background-size: cover;
    position: relative;
    background-size: 100%;
    background-position-x: 100%;
    padding: 80px;
}

.about .client-section{
	background-color: #FAFAFA;
	text-align: center;
	padding: 50px;
}

.about .about-container {
	text-align: center;
}

.serv-title {
	font-size: 16px;
    text-transform: uppercase;
    color: #343434;
    letter-spacing: 3px;
    margin-bottom: 28px;
}

.serv-title::after {
	content: '';
    width: 40px;
    height: 1px;
    background-color: #000;
    display: block;
    margin: auto;
    margin-top: 12px;
}

.sec-desc {
	font-size: 13px;
    color: #343434;
    letter-spacing: 0.7px;
    text-align: center;
}

.sec-desc::after {
	content: '';
    width: 40px;
    height: 1px;
    background-color: #343434;
    display: block;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 40px;
}

.sec-title {
	font-size: 24px;
    color: #343434;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5px;
    text-align: center;
}

.img {
	background-color: #efefef;
	height: 400px;
	width: 100%;
}

#slideshow {
  margin: 30px auto;
  position: relative;
  max-width: 500px;
  height: 240px;
  padding: 10px;
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.clients-feedback {
	max-width: 800px;
	margin: auto;
}

.contact-section {
	padding: 50px;
}

.contact-section h3 {
	font-family: "Questrial", sans-serif;
	font-size: 28px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    margin-bottom: 50px;
}

@keyframes example {
    from {

    }
    to {
        transform: translateY(-10px);
        box-shadow: 0 25px 45px rgba(0, 0, 0, .15);
    }
}



.img-anim {
    -webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
    transition: all 0.6s;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.img-anim:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .25);
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.email-heading {
    width: 155px;
}

input {
	width: 100%;
	padding: 10px 10px;
}

.message-input {
	margin-bottom: 30px;
	margin-top: 30px;
	height: 250px;
	width: 100%;
	padding: 10px 10px;
	border: 1px solid rgb(238, 238, 238);
}

button {
	cursor: pointer;
	width: 175px;
    height: 50px;
    background-color: #000;
    display: block;
    font-family: "Questrial", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: center;
    padding-top: 14px;
    margin-top: 50px;
}

button:hover {
	cursor: pointer;
	background-color: #555;
	color: #fff;
	text-decoration: none;
}

footer {
	border-top: 1px solid #eeeeee;
	color: #7f7f7f;
	padding: 30px;
	text-align: center;
}

footer a {
	margin-right: 10px;
	color: #9b9b9b;
}




